body{
    background: rgba(18, 18, 206, 0.705);
    font: normal 15pt Arial;
    color: white;
    text-align: center;
}
header{

}
section{
    padding: 1%;
    background: white;
    color: black;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.61);
}
div{
    padding: 2%;
    text-align: center;
}
footer{
    text-align: center;
    font-style: italic;
}